<h1>Conceptos</h1>

<table>
  <tr>
    <th>Descripci&oacuten</th>
    <th>Es ingreso</th>
    <th>Es egreso</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @conceptos.each do |concepto| %>
  <tr>
    <td><%= concepto.descripcion %></td>
    <td><%= concepto.es_ingreso %></td>
    <td><%= concepto.es_egreso %></td>
    <td><%= link_to 'Show', concepto %></td>
    <td><%= link_to 'Edit', edit_concepto_path(concepto) %></td>
    <td><%= link_to 'Destroy', concepto, method: :delete, data: { confirm: 'Está seguro?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Concepto', new_concepto_path %>
