<%= form_for(@movimiento) do |f| %>
  <% if @movimiento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movimiento.errors.count, "error") +' '+ I18n.t('.abc.no_guarda')%>: </h2>

      <ul>
      <% @movimiento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label I18n.t('.abc.concepto') %><br />
    <%= f.select :concepto_id, Concepto.find(:all).collect{|t|[t.descripcion, t.id]} %>
  </div>
  <div class="field">
    <%= f.label I18n.t('.abc.mes') %><br />
    <%= f.number_field :mes %>
  </div>
  <div class="field">
    <%= f.label I18n.t('.abc.anio') %><br />
    <%= f.number_field :anio %>
  </div>
  <div class="field">
    <%= f.label I18n.t('.abc.monto') %><br />
    <%= f.text_field :monto %>
  </div>
  <div class="actions">
    <%=f.submit%>
  </div>
<% end %>
