<%= form_for(@movimiento) do |f| %>
  <% if @movimiento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movimiento.errors.count, "error") %> prohibited this movimiento from being saved:</h2>

      <ul>
      <% @movimiento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :concepto %><br />
    <%= f.select :concepto, Concepto.find(:all).collect{|t|[t.descripcion, t.id]} %>
  </div>
  <div class="field">
    <%= f.label :mes %><br />
    <%= f.number_field :mes %>
  </div>
  <div class="field">
    <%= f.label :anio %><br />
    <%= f.number_field :anio %>
  </div>
  <div class="field">
    <%= f.label :monto %><br />
    <%= f.text_field :monto %>
  </div>
  <div class="actions">
    <%=submit_tag "Guardar" %>
  </div>
<% end %>
