<h1><%=I18n.t('.abc.movimientos') %></h1>

<table>
  <tr>
    <th><%=I18n.t('.abc.concepto') %></th>  
    <th><%=I18n.t('.abc.mes') %></th>
    <th><%=I18n.t('.abc.anio') %></th>
    <th><%=I18n.t('.abc.monto') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @movimientos.each do |movimiento| %>
  <tr>
    <td><%= movimiento.concepto.descripcion %></td>
    <td><%= movimiento.mes %></td>
    <td><%= movimiento.anio %></td>
    <td><%= movimiento.monto %></td>
    <td><%= link_to I18n.t('.abc.show') , movimiento %></td>
    <td><%= link_to I18n.t('.abc.edit'), edit_movimiento_path(movimiento) %></td>
    <td><%= link_to I18n.t('.abc.destroy'), movimiento, method: :delete, data: { confirm: I18n.t('.abc.confirm')} %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to I18n.t('.abc.new'), new_movimiento_path %>
