<p id="notice"><%= notice %></p>

<p>
  <b><%=I18n.t('.abc.concepto') %>:</b>
  <%= @movimiento.concepto.descripcion %>
</p>

<p>
  <b><%=I18n.t('.abc.mes') %>:</b>
  <%= @movimiento.mes %>
</p>

<p>
  <b><%=I18n.t('.abc.anio') %>:</b>
  <%= @movimiento.anio %>
</p>

<p>
  <b><%=I18n.t('.abc.monto') %>:</b>
  <%= @movimiento.monto %>
</p>


<%= link_to I18n.t('.abc.edit'), edit_movimiento_path(@movimiento) %> |
<%= link_to I18n.t('.abc.volver'), movimientos_path %>
